body {
	font-family: sans-serif;
	text-align: center;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	background: #b36b00;
	padding: 50px;
	}
h1 {
	text-decoration: underline;
	}
div {
	background: #e6eeff;
	padding: 40px;
	border-radius: 3px;
	}
p {
	padding-right: 60px;
	padding-left: 60px;
	}
img {
	max-height: 500px;
	border-radius: 1px;
	margin: 0;
	padding: 0;
	}
a:link, a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #4d88ff;
	}

a:hover, a:focus, a:active {
	text-decoration: underline;
	}
nav ul li {
	display: inline-block;
	padding: 10px;
}
section {
	margin-top: 50px;
	border: solid 4px #4d88ff;
	border-radius: 3px;
	padding:25px;
}
section div{
	padding: 0px;
	border: none;
}
section.sitting {
		border: solid 3px;
	}
#intro {
	border: solid 1px;
	border-radius: 1px
}
 
#ending {
	border: solid 1px;
	border-radius: 1px
}
